#phrase{
    padding-top: 300px;
    padding-bottom: 200px;
    color: white;
    text-align: right;
}
#background-photo{
    background-image: url(/img/BG.jpg);
    background-size: cover;
}

#cardscontainer{
    padding-top: 10px;
    text-align: center;
}

#cardspace{
    padding: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
}

#copyrights{
    text-align: center;
}

.card, #imageme{
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

#circlephoto{
    width: 75%;
    height: 100%;
}

#aboutme, #imageme{
    padding: 10px;
}

